.sidebarOptions {
    display: flex;
    flex-direction: column;


}
.sidebarOption2 {
    margin-bottom:40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.sidebarOption {
    display: flex;
    align-items: center;
    padding:10px;
    cursor:pointer;
}

.sidebarOption:hover {
    background-color: lightcoral;
    border-radius: 5px;
}

.sidebarOption > img {
    height: 150px;
    width: 150px;
    margin-left: 10px;
    border-radius: 5px;
}

.sidebarOption > p {
    color: black;
    font-weight: bold;
    margin-left: 10px;
}

.sidebarOption > .MuiSvgIcon-root {
    color: yellowgreen;
    font-size:medium;
    margin-left:10px;
}